%tr
  %td.issue-html__header
    %table{align: "left", cellpadding: "0", cellspacing: "0", width: "100%"}
      %tbody
        %tr
          %td.block
            %table.gowide{align: "left", width: "50%"}
              %tbody
                %tr
                  %td
                    %span.title= mailing_list.name
                    %div{style: "height: 10px;"}
                    %span.title.subtitle= "##{issue.release_number}"
            %table.gowide.lonmo{align: "left", style: "text-align: right", width: "50%"}
              %tbody
                %tr
                  %td
                    %span.date= pretty_date(issue.release_at)
