:css
    body, table, td, p, a, li, blockquote { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100% }
    table, td {mso-table-rspace: 0pt; mso-table-lspace: 0pt }
    img{ -ms-interpolation-mode: bicubic }
    body { margin: 0; padding: 0; width: 100%; font-family: 'helvetica neue', helvetica, arial, sans-serif; }
    table {border-spacing: 0;  mso-table-lspace:-1pt; mso-table-rspace:-1pt; border-collapse: collapse !important }
    @media screen and (max-width: 600px) {
    body, table, td, p, a, li, blockquote { -webkit-text-size-adjust: none !important }
    body { width: 100% !important; min-width: 100% !important }
      .nomo { display: none; }
      .lonmo { text-align: left !important; }
      .gowide { width: 100%; }
      .container { width: auto !important; }
    }
