- subtitles.each do |subtitle|
  %p.issue-subtitle__name= subtitle.name.titleize
  %ul.issue-subtitle__list
    - subtitle.issue_items.each do |item|
      %li
        %table.gowide{:align => "left", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse", :width => "100%"}
          %tbody
            %tr
              %td.issue-subtitle
                .issue-subtitle__title
                  = link_to item.title.titleize, api_v1_link_url(item.link), class: 'issue-subtitle__link', target: "_blank"
                .issue-subtitle__description= item.description
                .issue-subtitle__source= item.source
