- issue.issue_items.top.each_with_index do |item, index|
  %table.gowide{:align => "left", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse", :width => "100%"}
    %tbody
      %tr
        %td.issue-top-items
          .issue-top-items__title
            = link_to item.title.titleize, link_path(item.link), class: 'issue-top-items__link', target: "_blank"
          .issue-top-items__description= item.description
          .issue-top-items__source= item.source
