.container
  = render 'mailing_lists/header', mailing_list: @mailing_list

  .row.justify-content-center
    .col
      %h1.subtitle.mb-20= t('.title')

      = render 'issues/issues_list', issues: @issues
