.iphone
  .iphone-top
    %span.camera
    %span.sensor
    %span.speaker
  .top-bar
  .iphone-screen
    = yield
  .buttons
    %span.on-off
    %span.sleep
    %span.up
    %span.down
  .bottom-bar
  .iphone-bottom
    %span
